*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    background-color: black;
}
.container{
    width: 50%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    padding: 40px 0 40px 0;
    border: 1px solid white;
    border-radius: 20px;
}
.up{
    display: flex;
}
.column{
    width: 50%;
    text-align: center;
}
.column button{
    font-family: 'Permanent Marker', cursive;
    width: 60%;
    height: 50px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 200ms;
}
.column button:last-of-type{
    margin-bottom: 0;
}
.column button:hover{
    -webkit-box-shadow: 0px 0px 20px 0px rgba(13,199,255,1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(13,199,255,1);
    box-shadow: 0px 0px 20px 0px rgba(13,199,255,1);
}
.down{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.down button{
    background-color: black;
    font-family: 'Permanent Marker', cursive;
    width: 60%;
    height: 50px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    margin-top: 5px;
    cursor: pointer;
    transition: 500ms;
}
.down button:hover{
    background-color: white;
    color: black;
}
#red{
    background-color: red;
}
#magenta{
    background-color: #e36fda;
}
#blue{
    background-color: #0e4bd7;
}
#cyan{
    background-color: #58c4ce;
}
#green{
    background-color: #48da95;
}
#lightgreen{
    background-color: #c8db6f;
}
#orange{
    background-color: #ea9808;
}
@media (max-width: 768px){
    .container{
        width: 70%;
    }
    .column button{
        width: 80%;
    }
}
@media (max-width: 500px){
    .container{
        width: 90%;
    }
    .column button{
        width: 85%;
    }
}
@media (max-width: 320px){
    .container{
        width: 95%;
    }
    .column button{
        width: 90%;
    }
}